body{
  display: flex;
  background-color: black;
  justify-content: center;
  user-select: none;
}

.tarea{
  position: fixed;
  scale: 2;
  top: 50%;
  left: auto;
  outline: solid 1px red;
  font-size: auto;
  font-weight: bolder;
  color: white;
  overflow: hidden;
}

#t{
  position: fixed;
  bottom: 10%;
  color: white;
  scale: 1.1;
  font-size: auto;
  font-weight: bolder;
}