body{
  display: flex;
  background-color: black;
  justify-content: center;
}

.tarea{
  position: fixed;
  top: 22rem;
  left: auto;
  outline: solid 1px red;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  overflow: hidden;
}
