:root{
  display: flex;
  background: rgb(30,30,30);
}

body{
  margin-top: -3px;
  padding: 5px;
}
img{
  block-size: 100px;
}

.txt{
  display: block;
  margin-top: 10px;
  color: white;
  font-size: large;
  border: solid 1px white;
  border-radius: 10px;
  padding: 7px;
  text-align: center;
}

.qtn{
  font-weight: bold;
  text-align: center;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track{
  background: rgb(30, 30, 30);
}

::-webkit-scrollbar-thumb{
  background: #ffffff8f;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background: #555;
}